.overlay{
  position: absolute;
  z-index: 100;
}
.backButton{
max-width: 4vw;
}

.image{
  width: 5%;
  height: 100%;
  position: absolute;
  z-index: 40;
  color: black;
  background-color: rgba(255,255,255,0.9);
}

.sideImage{
  max-width: 95%;
  padding: 10px;
}

#text{
  display:none;
  padding-left: 10px;
}


.image:hover > #text{
display: inline;
  margin-top: 10%;
}

.image:hover{
  width: 50%;
}
