
#glower{
  font-size: 7vh;
  transform: translate(0, 2.5vh);
}
.defaultGlow{
  color: transparent;
  padding-left: 30px;
}

.glow{
  font-size: 80px;
  color: white;
  text-align: center;
  -webkit-animation: glow 1.3s ease-in-out infinite alternate;
  -moz-animation: glow 1.3s ease-in-out infinite alternate;
  animation: glow 1.3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
color: darkgrey;
  }
  to {
  color: transparent;
  }
