#img5{
  opacity: 0;
}

.glow{
  /* font-size: 80px;
  color: #fff;
  text-align: center; */
  -webkit-animation: opacity 1.3s ease-in-out infinite alternate;
  -moz-animation: opacity 1.3s ease-in-out infinite alternate;
  animation: opacity 1.3s ease-in-out infinite alternate;
}

@-webkit-keyframes opacity {
  from {
opacity: 0.05;
  }
  to {
opacity: 1;
  }
}
