.overlay{
  position: absolute;
  z-index: 100;
}
.backButton{
width: 3vw;
min-width: 20px;
mix-blend-mode: darken;
}
.expandButton{
width: 3vw;
min-width: 20px;
mix-blend-mode: darken;
display: block;
}

.backButton:hover{
   cursor:pointer;
}

.expandButton:hover{
   cursor:pointer;
}

.image{
  width: 3vw;
  height: 3vw;
  position: absolute;
  z-index: 40;
  color: black;
  background-color: rgba(255,255,255,0.9);
}

.text{
  margin-left: 20px;
}

.textBefore{
display:none;
}

.imageClicked{
  width: 50%;
  height: auto;
}

.sideImage{
  max-width: 90%;
  padding: 10px;
}


#hiddenVid{
  position: absolute;
  display: none;
}


/* BUG: body at 98% affecting book page */
html, body {
  font-family: "Baskerville Old Face";
  height: 98%;
  width: 98%;
}

.overall, .video{
display flex;
margin: 10px 10px 10px 10px;
height: 95%;
width: 98%;
position: absolute;
justify-content: space-around;

}

/* #backIcon{
  width: 3vmax;
  min-width: 80px;
}


#backIcon2{
  width: 3vmax;
  min-width: 0px;
} */

.container {

  height: 100%;
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.sub {
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub:hover {
 cursor:pointer;
}

.playButton{
  position: absolute;
  font-size: 5vw;
  color: white;
}

.subTitle{
  /* position: absolute; */
  font-size:calc(10px + 0.5vmax);
  color: black;
  padding-left: 20px;
  max-width: 500px;
}

#vid1, #vid2{
margin: 0px 0px 0px 0px;
overflow: hidden;
position: relative;
/* transform: translate(0%, 40%); */
}

.splitVid{
display: flex;
height: 95%;
}

.stickyOverlay{
  position: absolute;
  margin-left: 10%;
  width: 80%;
}

.hide {
  display:none
};
