#indent{
  margin-left: 10%;
  width: 90%;
  height: 100%;
}

.overlay{
  position: absolute;
  z-index: 100;
}
.backButton{
width: 2.4vw;
min-width: 50px;
mix-blend-mode: darken;
}
.expandButton{
width: 3vw;
min-width: 50px;
mix-blend-mode: darken;
display: block;
}

.backButton:hover{
   cursor:pointer;
}

.expandButton:hover{
   cursor:pointer;
}

.image{
  width: 3vw;
  height: 3vw;
  position: absolute;
  z-index: 40;
  color: black;
  background-color: rgba(255,255,255,0.9);
}

.text{
  margin-left: 20px;
}

.textBefore{
display:none;
}

.imageClicked{
  width: 50%;
  height: 100%;
}

.sideImage{
  max-width: 90%;
  padding: 10px;
}


iframe{

width: 100%;

height: 100%;

}
